
/* .added-style{border-radius:50%;margin-top:16px;width:50px;border:3px solid} */


/* .letter{margin-left:-23px} */
/* .dev-coverletter{width:100%;min-width:2516px;height:100vh;min-height:3543px;position:relative;overflow:hidden;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:rgba(255,255,255,1)} */






